.btn-block {
	border:1px solid black;
}

button {
	background:#2980b9;
}

img {
	max-width:12%;
	height:auto;
}

body {
	background: black;
	color:white;
	font-family: 'Nunito', sans-serif;
}

.modal-content {
	color:black;
}